name: PR-Checks
on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  build:
    name: Build

    strategy:
      matrix:
        runs-on: [ubuntu-latest]
      fail-fast: false

    runs-on: ${{ matrix.runs-on }}

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Set Node.js 12.x
        uses: actions/setup-node@master
        with:
          node-version: 12.x

      - name: Yarn CLI
        uses: CultureHQ/actions-yarn@v1.0.1

      - name: yarn install
        run: yarn install --non-interactive --no-progress

      - name: Lint
        run: yarn affected:lint

      - name: Unit Tests
        run: yarn affected:test

      - name: E2E Tests
        run: yarn affected:e2e
